.CodeMirror-signature-help {
  position: absolute;
  z-index: 10;
  overflow: hidden;

  margin: 0;
  padding: 0;

  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);

  background: white;
  font-size: 90%;
  line-height: 1.5;

  max-height: 20rem;
  min-height: 2rem;

  max-width: 30rem;
  min-width: 20rem;
  overflow-y: auto;

  border: 1px solid #aaa;

  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.CodeMirror-signature-help.visible {
  opacity: 1;
}

.CodeMirror-signature-help p {
  margin: 8px 0;
}

.CodeMirror-signature-help .signature {
  padding: 4px 5px;
}

.CodeMirror-signature-help .signature.has-docs {
  border-bottom: 1px solid rgba(170, 170, 170, 0.5);
}

.CodeMirror-signature-help .signature .code {
  font-family: monospace;
}

.CodeMirror-signature-help .signature .parameter {
  display: inline-block;
}

.CodeMirror-signature-help .signature .parameter.active {
  font-weight: 700;
  text-decoration: underline;
}

.CodeMirror-signature-help .docs {
  padding: 0 10px 0 5px;
  white-space: pre-wrap;
}
